<div class="col-xs-10 col-xs-offset-1">
	<h1>About Splurty</h1>
	<p><h2>Splurty has been developed by <a href="https://github.com/ShreyamsJain/">Shreyams</a>, who is a student at San Jose State University. This application was built with a mission for people to be able to be motivated with quotes by great people.</h2></p>
	<br/>
	<p><h2>Splurty also allows users to add their own quotes of their choice which will randomly be displayed.</h2></p>
	<br/>
	<p><h2>Feel free to add your own quotes. Have a great day.</h2></p>
	<br/>
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'mypic.jpg', class: 'img-responsive' %>
	</div>
	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Shreyams Jain</h2>
		<br/>
		<p>Shreyams is a masters student at San Jose State University, CA. He has worked as a software engineer for over 4 years for Mphasis, an HP company and for clients like Blue Shield of California and FedEx. He has completed his graduation in Computer Science from RNSIT, Bangalore, India.</p>
	</div>
	<br/>
</div>